<!DOCTYPE html>
<html>
  <head>
    <title>RailsTaskManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Poppins:400,500,700&display=swap">
    <style>

      body {
        background: #DEDEDE;
      }

      h1 {
        line-height: 2;
        background-color: #BEEEF7;
        text-align: center;
        font-family: 'Poppins', serif;
        font-size: 23px;
        text-shadow: 4px 4px 4px #aaa;
      }

      a, label, h2, h3 {
        color: black;
        font-family: 'Poppins', serif;
        font-size: 16px;
        font-weight: lighter;
        padding-left: 8px;

      }

      h4 {
        color: #182952;
        font-family: 'Poppins', serif;
        font-size: 14px;
        font-weight: lighter;
        padding-left: 8px;

      }

      ul {
        font-family: 'Nunito Sans', sans-serif;
        font-size: 18px;
        font-weight: lighter;
        list-style: none;
      }

      #add {
        font-family: 'Poppins', serif;
        font-size: 18px;
        text-shadow: 4px 4px 4px #aaa;
      }

    </style>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
